/* Home.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

h1 {
    color: #333;
    font-size: 36px;
    text-align: center;
    font-weight: bold;
}

/* Center the home component with padding, shadow, and a nice background */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: white; */
    padding: 50px;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
}
